/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #d9e8e6);
    margin: 0;
    padding: 0;
}

.topo {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo do cabeçalho */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #d9e8e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.clinica-imagem {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.menu {
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-list li {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list li:hover {
    color: #0044cc;
}

details {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f9f9f9;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #007BFF;
}

summary:hover {
    text-decoration: underline;
}

details[open] {
    background-color: #e9f5ff;
    border-color: #007BFF;
}


/* Rodapé */
footer.rodape {
    text-align: center;
    padding: 20px;
    background-color: #d9e8e6;
    font-size: 0.9em;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}
