/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f0f4f8, #d9e8e6); /* Gradiente suave em tons pastéis */
    margin: 0;
    padding: 0;
}

.topo {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo do cabeçalho */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #d9e8e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

header.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d9e8e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clinica-imagem {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.menu {
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-list li {
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list li:hover {
    color: #0044cc;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Estilo de caixa para o formulário */
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

form label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-top: 15px;
}

/* Estilo dos campos de entrada */
form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do botão de envio */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #003399;
}

.container {
    display: flex;
    justify-content: center;
}


.botoes {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px; /* Espaço entre os botões */
    padding: 10px 15px;
    background-color: #0044cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.botoes:last-child {
    margin-right: 0; /* Remove margem do último botão */
}
.rodape {
    text-align: center;
    padding: 10px;
    position: relative; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Garantir que o rodapé fique na parte inferior da tela */
    left: 0; /* Ocupa toda a largura */
    width: 100%; /* Largura total da página */
    border-radius: 10px;
   
    
}

